<div class="container">
    <div class="col-sm-6">
        <img src="images/graph.png" alt="contact photo">
    </div>
    <div class="col-sm-6">
        <h1>
            Reach out to us!
        </h1>
        <p>
            Enter your info below if you'd like to know more:
        </p>
        <form action="/subscribe" method="post">
            <label for="txtName">
                Name:
            </label>
            <input type="text" name="name" value="" id="txtName">
            <br>
            <label for="txtEmail">
                Email:
            </label>
            <input type="text" name="email" value="" id="txtEmail">
            <br>
            <label for="txtZipCode">
                Zip Code:
            </label>
            <input type="text" name="zipCode" value="" id="txtZipCode">
            <br>

            <input type="submit" class="button" value="submit">
        </form>
        <p>We'll get back to you soon!</p>
    </div>
</div>